<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] h-full bg-gray-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      {assigns[:page_title] || "Scrabblex"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <%= if @google_analytics_tag do %>
      <!-- Google tag (gtag.js) -->
      <script async src={"https://www.googletagmanager.com/gtag/js?id=#{@google_analytics_tag}"}>
      </script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= @google_analytics_tag %>');
      </script>
    <% end %>
  </head>
  <body class="h-full">
    {@inner_content}
  </body>
</html>
