<.live_component
  :if={@match.status == "created"}
  module={ScrabblexWeb.MatchLive.LobbyComponent}
  id={@match.id}
  match={@match}
  current_user={@current_user}
  presences={@presences}
  events_topic={@events_topic}
/>
